body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 500px; /* 調整容器的寬度 */
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#logo-banner {
    max-width: 100%;
    height: auto;
}

#title {
    color: black;
    font-size: 1.8rem;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s; /* 增加邊框顏色過渡效果 */
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #007bff; /* 聚焦時改變邊框顏色 */
}

#gender-container {
    margin-top: 15px; /* 添加間距 */
}

.time-buttons {
    display: flex;          
    flex-wrap: wrap;       
    gap: 10px;             
}

.time-button {
    flex: 1 1 40%;         /* 按鈕的大小，這裡設置為 30% */
    min-width: 100px;      /* 設置按鈕的最小寬度 */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    text-align: center;     
    transition: background-color 0.3s, transform 0.3s; 
    border-radius: 5px;     
}

/* 選擇按鈕的樣式 */
.time-button.selected {
    background-color: #4CAF50; 
    color: white;              
    border: 1px solid #4CAF50; 
}

.time-button:hover {
    background-color: #4CAF50; /* 懸停時與選擇時的顏色相同 */
    color: white;              /* 按鈕文字顏色 */
    transform: scale(1.05);     
}

#reservation-summary {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 8px 16px; /* 調整內邊距以縮小按鈕大小 */
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s; /* 加入平滑過渡效果 */
    display: block; /* 將按鈕設為區塊元素 */
    margin-left: auto; /* 左側邊距自動 */
    margin-right: auto; /* 右側邊距自動，從而實現居中 */
}

button[type="submit"]:hover {
    background-color: #218838;
}

#successMessage {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.row {
    display: flex;
    gap: 10px; /* 欄位之間的間距 */
    margin-bottom: 10px; /* 行間距 */
}

/* 欄位排列設置 */
.field {
    flex: 1; /* 平均分配空間 */
}

/* 日期欄位佔用更多空間 */
.date-field {
    flex: 2; /* 默認佔兩份空間 */
}

@media (max-width: 768px) {
    .time-button {
        flex: 1 1 40%;         /* 每行最多顯示 3 個按鈕 */
    }
}

/* 媒體查詢：當螢幕寬度小於 480px 時，每行顯示 1 個按鈕 */
@media (max-width: 480px) {
    .time-button {
        flex: 1 1 40%;        /* 每行顯示 1 個按鈕 */
    }
}
